body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f7fff7;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

#iconePesquisa {
    width: 32px;
    margin-right: 19px;
    cursor: pointer;
    filter: brightness(0) saturate(0%);
    transition: 0.2s;
}

#iconePesquisa:hover {
    filter: brightness(0) saturate(100%) invert(44%) sepia(98%) saturate(394%) hue-rotate(-5deg) brightness(97%) contrast(101%);
}

.icone {
    width: 35px;
    margin-right: 19px;
    cursor: pointer;
    filter: brightness(0) saturate(0%);
    transition: 0.2s;
}

.icone:hover {
    filter: brightness(0) saturate(100%) invert(44%) sepia(98%) saturate(394%) hue-rotate(-5deg) brightness(97%) contrast(101%);
}

.barraNav { 
    background: #fff; 
    box-shadow: 0 2px 6px #ddd; 
}

.conteudoNav { 
    max-width: 1100px; 
    margin: auto; 
    padding: 20px 16px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.logoMarca { 
    font-size: 28px; 
    font-weight: bold; 
}

.menuPrincipal a { 
    margin-left: 25px; 
    text-decoration: none; 
    color: #333; 
}

.secaoSobre {
    padding: 60px 20px;
}

.sobreBox {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}

.sobreTexto {
    flex: 1;
}

.sobreImagem {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 420px;
    border-radius: 12px;
    box-shadow: 0 4px 12px #ccc;
}

.valoresBox {
    margin-top: 60px;
    margin-bottom: 60px;
}

.gradeValores {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.valorItem {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 8px #ddd;
    text-align: center;
}

.valorTitulo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.rodape {
    background: #292F36;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}