body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f7fff7;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

#icone-pesquisa {
    width: 32px;
    margin-right: 19px;
    cursor: pointer;
    filter: brightness(0) saturate(0%);
    transition: 0.2s;
}

#icone-pesquisa:hover {
    filter: brightness(0) saturate(100%) invert(44%) sepia(98%) saturate(394%) hue-rotate(-5deg) brightness(97%) contrast(101%);
}

.icone {
    width: 35px;
    margin-right: 19px;
    cursor: pointer;
    filter: brightness(0) saturate(0%);
    transition: 0.2s;
}

.icone:hover {
    filter: brightness(0) saturate(100%) invert(44%) sepia(98%) saturate(394%) hue-rotate(-5deg) brightness(97%) contrast(101%);
}

.barra-nav { 
    background: #fff; 
    box-shadow: 0 2px 6px #ddd; 
}

.barra-nav-container { 
    max-width: 1100px; 
    margin: auto; 
    padding: 20px 16px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.logo-marca { 
    font-size: 28px; 
    font-weight: bold; 
}

.menu-principal a { 
    margin-left: 25px; 
    text-decoration: none; 
    color: #333; 
}

.menu-principal a { 
    margin-left: 25px; 
    text-decoration: none; 
    color: #333; 
}

.secao-sobre {
    padding: 60px 20px;
}

.sobre-box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}

.sobre-texto {
    flex: 1;
}

.sobre-imagem-caixa {
    flex: 1;
    display: flex;
    justify-content: center;
}

.sobre-imagem {
    width: 100%;
    max-width: 420px;
    border-radius: 12px;
    box-shadow: 0 4px 12px #ccc;
}

.valores-box {
    margin-top: 60px;
    margin-bottom: 60px;
}

.grade-valores {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.valor-item {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 8px #ddd;
    text-align: center;
}

.valor-titulo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.rodape {
    background: #292F36;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 40px;
}
