body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.fundo-pagina { background: #F7FFF7; }

.fundo-claro { 
    background: #f3f3f3;
    padding: 40px 30px;
    border-radius: 20px;
    margin-top: 40px;
}

.titulo-secao { 
    text-align: center; 
    font-size: 32px; 
    margin-bottom: 30px; 
}

.titulo-grande { 
    font-size: 42px; 
    font-weight: bold; 
}

.subtitulo { 
    font-size: 18px; 
    margin-bottom: 20px; 
}

.texto { 
    color: #444; 
    margin-bottom: 10px; 
}

.preco { 
    color: #000000; 
    font-weight: bold; 
}

a {
    text-decoration: none;
    color: black;
}
#icone-pesquisa {
    width: 32px;
    margin-right: 19px;
    cursor: pointer;
    filter: brightness(0) saturate(0%);
    transition: 0.2s;
}

#icone-pesquisa:hover {
    filter: brightness(0) saturate(100%) invert(44%) sepia(98%) saturate(394%) hue-rotate(-5deg) brightness(97%) contrast(101%);
}

.icone {
    width: 35px;
    margin-right: 19px;
    cursor: pointer;
    filter: brightness(0) saturate(0%);
    transition: 0.2s;
}

.icone:hover {
    filter: brightness(0) saturate(100%) invert(44%) sepia(98%) saturate(394%) hue-rotate(-5deg) brightness(97%) contrast(101%);
}


.barra-nav { 
    background: #fff; 
    box-shadow: 0 2px 6px #ddd; 
}

.barra-nav-container { 
    max-width: 1100px; 
    margin: auto; 
    padding: 20px 16px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.logo-marca { 
    font-size: 28px; 
    font-weight: bold; 
}

.menu-principal a { 
    margin-left: 25px; 
    text-decoration: none; 
    color: #333; 
}


.secao-hero { 
    background: linear-gradient(to right, #FF6B6B, #FFE66D); 
    color: rgb(0, 0, 0); 
}

.container-hero { 
    max-width: 1100px; 
    margin: auto; 
    padding: 60px 16px; 
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 
}

.conteudo-hero {
     flex: 1; 
    }

.caixa-imagem-hero { 
    flex: 1; 
    display: flex; 
    justify-content: center; 
}

.imagem-hero { 
    width: 100%; 
    max-width: 400px; 
    border-radius: 12px; 
    box-shadow: 0 8px 20px rgba(0,0,0,0.2); 
}

.botao {
    background: rgb(0, 0, 0);
    color: #FF6B6B;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.secao { 
    padding: 60px 16px; 
    max-width: 1100px; 
    margin: auto; 
}

#produtos{
    margin-top: 5%;
    margin-bottom: 5%;
}

#produtos2{
    margin-top: 5%;
    margin-bottom: 5%;
}

.grade { 
    display: grid; 
    gap: 35px; 
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
    justify-items: center;
}


.cartao-categoria{
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px #ccc;
    padding-bottom: 20px;
    text-align: center;
}


.cartao-produto {
    width: 220px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 6px #ccc;
    padding: 15px;
    text-align: center;
}


.cartao-categoria:hover, .cartao-produto:hover {
    transform: scale(1.08); 
}

.img-cartao {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.img-produto {
    width: 100%;
    height: 200px; 
    object-fit: contain; 
    margin-top: 10px;
}


.titulo-cartao, .titulo-produto { 
    font-size: 18px; 
    margin-top: 10px; 
}

.secao-promocao {
    background: linear-gradient(to right, #FF6B6B, #FFE66D);
    color: rgb(0, 0, 0);
    padding: 60px 20px;
    text-align: center;
    margin-bottom: 5%;
}

.container-promocao {
    max-width: 900px;
    margin: auto;
}

.titulo-promocao {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sub-promocao {
    font-size: 20px;
    margin-bottom: 40px;
}

.contador {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.caixa-tempo {
    background: rgba(255, 255, 255, 0.25);
    padding: 20px;
    border-radius: 8px;
}

.numero-tempo {
    font-size: 30px;
    font-weight: bold;
}

.rotulo-tempo {
    font-size: 16px;
}

.botao-promocao {
    background: rgb(0, 0, 0);
    color: #FF6B6B;
    padding: 12px 35px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.botao-promocao:hover {
    opacity: 0.85;
}

.linha { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
}

.coluna { flex: 1; }

.img-sobre { 
    width: 100%; 
    border-radius: 10px; 
}

.caixa-contato {
    background: #eee;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
}

.rodape {
    text-align: center;
    background: #292F36;
    color: white;
    padding: 20px;
}
