body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.fundoPagina {
    background: #F7FFF7;
}

.fundoClaro { 
    background: #f3f3f3;
    padding: 40px 30px;
    border-radius: 20px;
    margin-top: 40px;
}

.tituloSecao { 
    text-align: center; 
    font-size: 32px; 
    margin-bottom: 30px; 
}

.tituloGrande { 
    font-size: 42px; 
    font-weight: bold; 
}

.subtitulo { 
    font-size: 18px; 
    margin-bottom: 20px; 
}

.texto { 
    color: #444; 
    margin-bottom: 10px; 
}

.preco { 
    color: #000000; 
    font-weight: bold; 
}

a {
    text-decoration: none;
    color: black;
}
#iconePesquisa {
    width: 32px;
    margin-right: 19px;
    cursor: pointer;
    filter: brightness(0) saturate(0%);
    transition: 0.2s;
}

#iconePesquisa:hover {
    filter: brightness(0) saturate(100%) invert(44%) sepia(98%) saturate(394%) hue-rotate(-5deg) brightness(97%) contrast(101%);
}

.icone {
    width: 35px;
    margin-right: 19px;
    cursor: pointer;
    filter: brightness(0) saturate(0%);
    transition: 0.2s;
}

.icone:hover {
    filter: brightness(0) saturate(100%) invert(44%) sepia(98%) saturate(394%) hue-rotate(-5deg) brightness(97%) contrast(101%);
}


.barraNav { 
    background: #fff; 
    box-shadow: 0 2px 6px #ddd; 
}

.conteudoNav { 
    max-width: 1100px; 
    margin: auto; 
    padding: 20px 16px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.logoMarca { 
    font-size: 28px; 
    font-weight: bold; 
}

.menuPrincipal a { 
    margin-left: 25px; 
    text-decoration: none; 
    color: #333; 
}


.secaoBanner { 
    background: linear-gradient(to right, #FF6B6B, #FFE66D); 
    color: rgb(0, 0, 0); 
}

.containerBanner { 
    max-width: 1100px; 
    margin: auto; 
    padding: 60px 16px; 
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 
}

.conteudoBanner {
     flex: 1; 
    }

.caixaImagem { 
    flex: 1; 
    display: flex; 
    justify-content: center; 
}

.imagemBanner { 
    width: 100%; 
    max-width: 400px; 
    border-radius: 12px; 
    box-shadow: 0 8px 20px rgba(0,0,0,0.2); 
}

.botao {
    background: rgb(0, 0, 0);
    color: #FF6B6B;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.secao { 
    padding: 60px 16px; 
    max-width: 1100px; 
    margin: auto; 
}

#produtos{
    margin-top: 5%;
    margin-bottom: 5%;
}

#produtos2{
    margin-top: 5%;
    margin-bottom: 5%;
}

.grade { 
    display: grid; 
    gap: 35px; 
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
    justify-items: center;
}


.cartaoCategoria{
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px #ccc;
    padding-bottom: 20px;
    text-align: center;
}


.cartaoProduto {
    width: 220px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 6px #ccc;
    padding: 15px;
    text-align: center;
}


.cartaoCategoria:hover, .cartaoProduto:hover {
    transform: scale(1.08); 
}

.imgCartao {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.imgProduto {
    width: 100%;
    height: 200px; 
    object-fit: contain; 
    margin-top: 10px;
}


.tituloCartao, .tituloProduto { 
    font-size: 18px; 
    margin-top: 10px; 
}

.secaoPromocao {
    background: linear-gradient(to right, #FF6B6B, #FFE66D);
    color: rgb(0, 0, 0);
    padding: 60px 20px;
    text-align: center;
    margin-bottom: 5%;
}

.containerPromocao {
    max-width: 900px;
    margin: auto;
}

.tituloPromocao {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subPromocao {
    font-size: 20px;
    margin-bottom: 40px;
}

.contador {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.caixaTempo {
    background: rgba(255, 255, 255, 0.25);
    padding: 20px;
    border-radius: 8px;
}

.numeroTempo {
    font-size: 30px;
    font-weight: bold;
}

.rotuloTempo {
    font-size: 16px;
}

.botaoPromocao {
    background: rgb(0, 0, 0);
    color: #FF6B6B;
    padding: 12px 35px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.botaoPromocao:hover {
    opacity: 0.85;
}

.linha { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
}

.coluna {
     flex: 1; 
}

.imgSobre { 
    width: 100%; 
    border-radius: 10px; 
}

.caixaContato {
    background: #eee;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
}

.rodape {
    background: #292F36;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}