body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


a {
    text-decoration: none;
    color: black;
}


.fundo-pagina { background: #F7FFF7; }

.barra-nav { 
    background: #fff; 
    box-shadow: 0 2px 6px #ddd; 
}

.barra-nav-container { 
    max-width: 1100px; 
    margin: auto; 
    padding: 20px 16px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}


.logo-marca { 
    font-size: 28px; 
    font-weight: bold;
 
}

.menu-principal a { 
    margin-left: 25px; 
    text-decoration: none; 
    color: #333; 
}

.icone {
    width: 32px;
    margin-left: 15px;
    filter: brightness(0) saturate(0%);
    cursor: pointer;
    transition: .2s;
}

.icone:hover {
    filter: invert(44%) sepia(98%) saturate(394%);
}

.fundo-claro {
    background: #f3f3f3;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 30px;
    margin-top: 60px;
}



.secao {
    max-width: 1100px;
    margin: 80px auto 0 auto;
}

.container-produto {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.imagem-box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.imagem-produto {
    width: 100%;
    max-width: 380px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.info-produto {
    flex: 1;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.titulo-produto {
    font-size: 28px;
    margin-bottom: 15px;
}

.preco-produto {
    font-size: 26px;
    color: #000000;
    margin-bottom: 20px;
    font-weight: bold;
}

.descricao-produto {
    font-size: 16px;
    color: #444;
    margin-bottom: 25px;
}

.label-quantidade {
    font-size: 16px;
}

.input-quantidade {
    width: 70px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 10px;
}

.tamanhos-container {
    margin: 20px 0;
}

.label-tamanho {
    font-size: 16px;
    margin-right: 10px;
}

.botao-tamanho {
    padding: 6px 14px;
    margin-right: 8px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
}

#selecionado{
    background-color: #FF6B6B;
    border: 1px solid #333;
}

.botao-comprar {
    display: block;
    margin-top: 25px;
    background-color: #FF6B6B;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}

.botao-comprar:hover {
    opacity: 0.85;
}

.rodape {
    text-align: center;
    background: #292F36;
    color: white;
    padding: 20px;
    margin-top: 40px;
}
 
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
