body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #F7FFF7;
}

a {
    text-decoration: none;
    color: black;
}

#iconePesquisa {
    width: 32px;
    margin-right: 19px;
    cursor: pointer;
    filter: brightness(0) saturate(0%);
    transition: 0.2s;
}

#iconePesquisa:hover {
    filter: brightness(0) saturate(100%) invert(44%) sepia(98%) saturate(394%) hue-rotate(-5deg) brightness(97%) contrast(101%);
}

.icone {
    width: 35px;
    margin-right: 19px;
    cursor: pointer;
    filter: brightness(0) saturate(0%);
    transition: 0.2s;
}

.icone:hover {
    filter: brightness(0) saturate(100%) invert(44%) sepia(98%) saturate(394%) hue-rotate(-5deg) brightness(97%) contrast(101%);
}

.barraNav { 
    background: #fff; 
    box-shadow: 0 2px 6px #ddd; 
}

.barraNavContainer { 
    max-width: 1100px; 
    margin: auto; 
    padding: 20px 16px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.logoMarca { 
    font-size: 28px; 
    font-weight: bold; 
}

.menuPrincipal a { 
    margin-left: 25px; 
    color: #333; 
}

.carrinhoFundo {
    background: #f3f3f3;
    padding: 50px;
    border-radius: 20px;
    margin-top: 80px;
}

.tituloSecao {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.carrinhoGrid {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.listaProdutos {
    flex: 2;
}

.itemCarrinho {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 8px #ccc;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.imagemItem {
    width: 120px;
    border-radius: 10px;
}

.infoItem {
    flex: 1;
}

.nomeItem {
    font-size: 20px;
    margin-bottom: 5px;
}

.precoItem {
    color: #ce1913;
    font-weight: bold;
    margin-bottom: 10px;
}

.quantidadeItem {
    width: 60px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.subtotalItem {
    font-weight: bold;
    min-width: 140px;
}

.resumo {
    flex: 1;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 3px 8px #ccc;
    min-width: 260px;
}

.linhaResumo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.total {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.botaoFinalizar {
    width: 100%;
    padding: 12px;
    background: #ce1913;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 25px;
}

.botaoFinalizar:hover {
    opacity: 0.9;
}

.rodape {
    background: #292F36;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
