body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #F7FFF7;
}

a {
    text-decoration: none;
    color: black;
}
#icone-pesquisa {
    width: 32px;
    margin-right: 19px;
    cursor: pointer;
    filter: brightness(0) saturate(0%);
    transition: 0.2s;
}

#icone-pesquisa:hover {
    filter: brightness(0) saturate(100%) invert(44%) sepia(98%) saturate(394%) hue-rotate(-5deg) brightness(97%) contrast(101%);
}

.icone {
    width: 35px;
    margin-right: 19px;
    cursor: pointer;
    filter: brightness(0) saturate(0%);
    transition: 0.2s;
}

.icone:hover {
    filter: brightness(0) saturate(100%) invert(44%) sepia(98%) saturate(394%) hue-rotate(-5deg) brightness(97%) contrast(101%);
}

/* NAVBAR */
.barra-nav { 
    background: #fff; 
    box-shadow: 0 2px 6px #ddd; 
}

.barra-nav-container { 
    max-width: 1100px; 
    margin: auto; 
    padding: 20px 16px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.logo-marca { 
    font-size: 28px; 
    font-weight: bold; 
}

.menu-principal a { 
    margin-left: 25px; 
    text-decoration: none; 
    color: #333; 
}

.carrinho-fundo {
    background: #f3f3f3;
    padding: 50px;
    border-radius: 20px;
    margin-top: 80px;
}

.titulo-secao {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.carrinho-grid {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.lista-produtos {
    flex: 2;
}

.item-carrinho {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 8px #ccc;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.imagem-item {
    width: 120px;
    border-radius: 10px;
}

.info-item {
    flex: 1;
}

.nome-item {
    font-size: 20px;
    margin-bottom: 5px;
}

.preco-item {
    color: #ce1913;
    font-weight: bold;
    margin-bottom: 10px;
}

.quantidade-item {
    width: 60px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.subtotal-item {
    font-weight: bold;
    min-width: 140px;
}

.resumo {
    flex: 1;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 3px 8px #ccc;
    min-width: 260px;
}

.linha-resumo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.total {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.botao-finalizar {
    width: 100%;
    padding: 12px;
    background: #ce1913;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 25px;
}

.botao-finalizar:hover {
    opacity: 0.9;
}

.rodape {
    background: #292F36;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 40px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
