body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background: #f7fff7;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

.titulo-secao { 
    text-align: center; 
    font-size: 32px; 
    margin-bottom: 30px; 
}

.texto { 
    color: #444; 
    margin-bottom: 10px; 
}

#icone-pesquisa {
    width: 32px;
    margin-right: 19px;
    cursor: pointer;
    filter: brightness(0) saturate(0%);
    transition: 0.2s;
}

#icone-pesquisa:hover {
    filter: brightness(0) saturate(100%) invert(44%) sepia(98%)
            saturate(394%) hue-rotate(-5deg) brightness(97%) contrast(101%);
}

.icone {
    width: 35px;
    margin-right: 19px;
    cursor: pointer;
    filter: brightness(0) saturate(0%);
    transition: 0.2s;
}

.icone:hover {
    filter: brightness(0) saturate(100%) invert(44%) sepia(98%)
            saturate(394%) hue-rotate(-5deg) brightness(97%) contrast(101%);
}

.cabecalho {
    background: white;
    box-shadow: 0 2px 6px #ddd;
}

.caixa-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-marca {
    font-size: 28px;
    font-weight: bold;
}

.navegacao a {
    margin-left: 25px; 
    color: #333; 
}

.menu-principal a { 
    margin-left: 25px; 
    text-decoration: none; 
    color: #333; 
}



.fundo-claro {
    background: #f3f3f3;
    padding: 50px 30px;
    border-radius: 20px;
    margin-top: 80px;
}

.secao {
    max-width: 1100px;
    margin: 20px auto 0 auto;
}

.titulo {
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
}

.subtitulo {
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
    color: #444;
}

.container-contato {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.info-box {
    flex: 1;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    min-width: 280px;
}

.info-box h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.form-contato {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 280px;
}

.form-contato input,
.form-contato textarea {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.form-contato textarea {
    height: 140px;
}

.botao-enviar {
    background-color: #FF6B6B;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.botao-enviar:hover {
    opacity: 0.85;
}

.rodape {
    text-align: center;
    background: #292F36;
    color: white;
    padding: 20px;
    margin-top: 40px;
}


body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
